<ion-header>
  <ion-toolbar class="padding" color="primary">
            <ion-title class="ion-float-left">Seu perfil</ion-title>
            <img class="border-radius-round curve ion-float-right" src="../../assets/img/hpardini.jpg" alt="">
  </ion-toolbar>

</ion-header>

<ion-content>
  <span>Dados</span>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <ion-item>
            <ion-label position="floating">Nome</ion-label>
            <ion-input value="Igor Lúcio Vieira"></ion-input>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <ion-item>
            <ion-label position="floating">CPF</ion-label>
            <ion-input value="14232619682"></ion-input>
          </ion-item>
        </div>
      </ion-col>
    <ion-col>
      <div>
        <ion-item>
          <ion-label position="floating">Data de nascimento</ion-label>
          <ion-input value="24/08/1998"></ion-input>
        </ion-item>
      </div>
    </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <ion-item>
            <ion-label position="floating">Sexo</ion-label>
            <ion-input value="14232619682"></ion-input>
          </ion-item>
        </div>
      </ion-col>
    <ion-col>
      <div>
        <ion-item>
          <ion-label position="floating">Celular</ion-label>
          <ion-input value="24/08/1998"></ion-input>
        </ion-item>
      </div>
    </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input value="14232619682"></ion-input>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <span>Residência</span>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <ion-item>
            <ion-label position="floating">CEP</ion-label>
            <ion-input value="32370360"></ion-input>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <ion-item>
            <ion-label position="floating">Endereço</ion-label>
            <ion-input value="Avenida Santos Guido"></ion-input>
          </ion-item>
        </div>
      </ion-col>
    <ion-col>
      <div>
        <ion-item>
          <ion-label position="floating">Data de nascimento</ion-label>
          <ion-input value="24/08/1998"></ion-input>
        </ion-item>
      </div>
    </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <ion-item>
            <ion-label position="floating">Sexo</ion-label>
            <ion-input value="14232619682"></ion-input>
          </ion-item>
        </div>
      </ion-col>
    <ion-col>
      <div>
        <ion-item>
          <ion-label position="floating">Celular</ion-label>
          <ion-input value="24/08/1998"></ion-input>
        </ion-item>
      </div>
    </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input value="14232619682"></ion-input>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
