
<ion-header>
  <ion-toolbar color="primary"></ion-toolbar>
</ion-header>
<ion-content  color="tertiary" >

  <div class="wrapper">
    <div class="ion-text-center">
     <img src="../../assets/img/logo.png" style="width: 70%;" class="ion-padding " alt="">
      <ion-title class="ion-padding">Você está prestes a encontrar<br> seu exame!</ion-title>
    
      <!-- Inputs with labels -->
      <ion-item>
        <ion-label>E-mail:</ion-label>
        <ion-input inputmode="text" type="text"></ion-input>
      </ion-item>
      <!-- Inputs with labels -->
      <ion-item>
        <ion-label>Senha:</ion-label>
        <ion-input inputmode="password" type="password"></ion-input>
      </ion-item>
 
      <ion-item>
        <ion-label>Tipo de usuário</ion-label>
        <ion-select>
          <ion-select-option value="">Cliente</ion-select-option>
          <ion-select-option value="">Instituição</ion-select-option>
        </ion-select>
      </ion-item>
  

      <ion-button class="ion-margin" expand="block">Entrar</ion-button>
      <!-- <p>Ou faça login com</p>
      <ion-button [routerLink]="['/tabs']"  class="ion-padding" expand="block" color="facebook"><ion-icon  name="logo-facebook"></ion-icon></ion-button>
      <ion-button [routerLink]="['/tabs']" class="ion-padding" expand="block" color="google"><ion-icon  name="logo-google"></ion-icon></ion-button> -->
    </div>
  </div>


</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
  
  </ion-toolbar>
</ion-footer>