<ion-header>
  <ion-toolbar class=" ion-text-center" color="primary">
    <ion-title>Cartão de Vacinação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-padding ">
          Hepatite B
        </div>
        <div class="ion-padding">
          BCG-ID
        </div>
        <div class="ion-padding">
          Pentavalente(DTB+hib+hb)<br> + Reforço DTB
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-checkbox checked="true"></ion-checkbox>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
