<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-padding ion-text-center">Encontre aqui seu exame...</ion-title>
    <ion-searchbar showCancelButton="always"></ion-searchbar>
  </ion-toolbar>

    <ion-item>
      <ion-label>Filtrar por...</ion-label>
      <ion-select >
        <ion-select-option class="ion-text-nowrap" value="">Classificação dos Clientes</ion-select-option>
        <ion-select-option value="">Data</ion-select-option>
        <ion-select-option value="">Preço baixo</ion-select-option>
      </ion-select>
    </ion-item>

</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm>
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="../../assets/img/hpardini.jpg">
          </ion-thumbnail>
          <ion-label>
            <h2>Teste do pezinho</h2>
            <p>Laboratorio Hermes pardini</p>
            <div class="endereço">
              <span class="">R. Conceição do Mato, 115, centro</span><br>
              <span class="">Agostinho - Belo Horizonte - MG, 32370360</span>
              <span class=""></span>
            </div>
          </ion-label>
        
        </ion-item>
      </ion-col>
      <ion-col size="12" size-sm>
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="../../assets/img/labSaoMarcos.png">
          </ion-thumbnail>
          <ion-label>
            <h2>Teste do pezinho extendido</h2>
            <p>laboratorio são marcos</p>
            <div class="endereço">
              <span class="">Av. getulio vargas, 360, centro - </span><br>
              <span class="">Divinopolis - MG, 32370360</span>
              <span class=""></span>
            </div>
          </ion-label>
       
        </ion-item>
      </ion-col>
      <ion-col size="12" size-sm>
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="../../assets/img/mdei.png">
          </ion-thumbnail>
          <ion-label>
            <h2>Teste do pezinho ampliado</h2>
            <p>laboratorio da Rede Materdei</p>
            <div class="endereço">
              <span class="">Rua Padre Pedro Pinto, 6061 - </span><br>
              <span class="">Divinopolis - MG, 32370360</span>
              <span class=""></span>
            </div>
          </ion-label>
          
        </ion-item>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
