<ion-header>
  <ion-toolbar class="ion-text-center" color="primary">
      <ion-title class="ion-padding">Bem vindo, por qual exame<br>você procura ?</ion-title>
    <ion-searchbar showCancelButton="always"></ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-item color="secondary">
    <ion-label>
      Exames populares
    </ion-label>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm>
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="../../assets/img/labSaoMarcos.png">
          </ion-thumbnail>
          <ion-label>
            <h2>Teste do pezinho</h2>
            <p>laboratorio São Marcos</p>
            <div class="endereço">
              <span class="">Av. getulio vargas, 360, centro</span>
              <span class="">Divinopolis - MG, 32370360</span>
              <span class=""></span>
            </div>
          </ion-label>
          <ion-button fill="outline" slot="end">Agendar</ion-button>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-sm>
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="../../assets/img/labSaoMarcos.png">
          </ion-thumbnail>
          <ion-label>
            <h2>Check-up Básico</h2>
            <p>laboratorio são marcos</p>
            <div class="endereço">
              <span class="">Av. getulio vargas, 360, centro</span>
              <span class="">Divinopolis - MG, 32370360</span>
              <span class=""></span>
            </div>
          </ion-label>
          <ion-button fill="outline" slot="end">Agendar</ion-button>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-sm>
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="../../assets/img/labSaoMarcos.png">
          </ion-thumbnail>
          <ion-label>
            <h2>Check-up da criança</h2>
            <p>laboratorio são marcos</p>
            <div class="endereço">
              <span class="">Av. getulio vargas, 360, centro</span>
              <span class="">Divinopolis - MG, 32370360</span>
              <span class=""></span>
            </div>
          </ion-label>
          <ion-button fill="outline" slot="end">Agendar</ion-button>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-sm>
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="../../assets/img/labSaoMarcos.png">
          </ion-thumbnail>
          <ion-label>
            <h2>Exame de gravidez</h2>
            <p>laboratorio são marcos</p>
            <div class="endereço">
              <span class="">Av. getulio vargas, 360, centro</span>
              <span class="">Divinopolis - MG, 32370360</span>
              <span class=""></span>
            </div>
          </ion-label>
          <ion-button fill="outline" slot="end">Agendar</ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item color="secondary">
    <ion-label>
   Novidades
    </ion-label>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm>
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="../../assets/img/ext.jpg">
          </ion-thumbnail>
          <ion-label>
            <span color="danger">CIência</span>
            <h2>Novo teste mede com precisão seu nível de estresse.</h2>
            <p>Descubra seu nível de estresse com o novo teste..</p>
          </ion-label>
          <ion-button fill="outline" slot="end">Leia mais</ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
